<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabasePath" value="D:\MyDocs\Dev\vs13\Andl\Andl.Thrift\test.sandl"/>
    <add key="DatabaseSqlFlag" value="false"/>
    <add key="Noisy" value="3"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
